.nav {
    background-color: rgb(92, 90, 90);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    position: sticky;
}

.nav-title {
    color: white;
    margin-top: 3px;
    font-family: 'Courier New', Courier, monospace
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 500px;
    padding: 10px;
    list-style: none;
}

.btn {
    background-color: aqua;
    color: whitesmoke;
    box-shadow: 3px 3px 3px black;
}

.row {
    display: flex;
}

.columnLeft {
    flex: 3;
    padding: 20px;
    margin: 10px;
}

.background {
    height: 260px;
    width: 600px;
    border: 1px solid;
    margin: 10px 0px;
    border-color: gray;
    font-family: 'Courier New', Courier, monospace
}

.blueBar {
    background-color: aqua;
    height: 60px
}

h1 {
    height: 10px;
    margin-left: 15px;
}

.user {
    height: 50px;
    position: relative;
    top: 25px;
    margin-left: 15px;
    border: 5px groove;
    border-radius: 50%;
}

.pin {
    display: inline-block;
    height: 15px;
    margin-left: 15px;
}

.town {
    display: inline-block;
    margin-left: 15px;
    height: 10px;
    font-weight: bold;
}

.skills {
    margin-left: 15px;
    height: 5px;

}

.quote {
    margin-left: 15px;
    font-style: italic;
    font-size: small;
}

.gear {
    height: 15px;
    margin-left: 15px;
}

.profilelink {
    display: inline;
}

.educationTitle {
    border: 1px solid lightgray;
    margin: 20px 10px 0px 0px;
    background-color: rgb(122, 120, 120);
    color: white;
    text-indent: 10px;
    width: 600px;
    font-family: 'Courier New', Courier, monospace;
}

.educationBox {
    border: 1px solid lightgray;
    margin: 0px 10px 0px 0px;
    width: 600px;
    height: 510px;
    overflow: scroll;
    font-family: 'Courier New', Courier, monospace;
}

.columnRight {
    flex: 1;
    padding: 20px;
    margin: 10px;
}

.connectionRequestsTitle {
    border: 1px solid lightgray;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: rgb(122, 120, 120);
    color: white;
    text-indent: 10px;
    width: 450px;
    font-family: 'Courier New', Courier, monospace;
}

.circle {
    display: inline-block;
    background-color: lightgrey;
    border-radius: 50%;
    text-align: left;
    margin: 5px 20px;
    padding-right: 9px;
    color: black;
}

.connectionRequestsBox {
    border: 1px solid lightgray;
    width: 450px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    font-weight: 900;
}

.usersInConnectReq {
    /* border: 1px solid black; */
    margin: 20px;
    margin-top: 0px;
    height: 180px;
    width: 200px;
}

.usersInConnectReq p {
    display: flex;
    align-items: center;
}

.smoll {
    height: 50px;
    width: 50px;
    margin-right: 40px;
    padding-top: 30px;
    padding-bottom: 0px
}

.acceptDecline {
    /* border: 1px solid black; */
    margin: 20px;
    margin-top: 0px;
    height: 180px;
    width: 200px;
}

.yourConnectsTitle {
    border: 1px solid lightgray;
    margin-bottom: 0px;
    margin-top: 20px;
    background-color: rgb(122, 120, 120);
    color: white;
    text-indent: 10px;
    width: 450px;
    font-family: 'Courier New', Courier, monospace;
}

.yourConnectsBox {
    border: 1px solid lightgray;
    width: 410px;
    height: 400px;
    text-align: left;
    padding-left: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    font-weight: 900;
}

.viewMore {
    border: 1px solid lightgray;
    height: 50px;
    width: 410px;
    padding-left: 40px;
}