.background {
    height: 260px;
    width: 500px;
    border: 1px solid;
    margin: 0 auto;
    border-color: gray;
    font-family:'Courier New', Courier, monospace
}

.blueBar {
    background-color: aqua;
    height: 60px
}

h1 {
    height: 10px;
    margin-left: 15px;
}

.user {
    height: 50px;
    position: relative;
    top: 25px;
    margin-left: 15px;
    border: 5px groove;
    border-radius: 50%;
}

.pin{
    display: inline-block;
    height: 15px;
    margin-left: 15px;
}

.town {
    display: inline-block;
    margin-left: 15px;
    height: 10px;
    font-weight: bold;
}

.skills {
    margin-left: 15px;
    height: 5px;

}

.quote {
    margin-left: 15px;
    font-style: italic;
    font-size: small;
}

.gear {
    height: 15px;
    margin-left: 15px;
}

.profilelink {
    display: inline;
}